* { margin:0; padding:0; box-sizing:border-box; }

address a {
	color: #C3996b;
}

address {
	background: black;
	max-width: 450px;
	text-align: left;
	padding: 40px;
	margin: 10px;
}

body {
	color: #000;
	font-size: 18px;
	font-family: 'Didact Gothic', sans-serif;
	background-color: #C9CEC9;
	width: 900px
	margin-left: 151px;
}

#eigth_section p {
	border-bottom: 8px solid #fff;
	border-top: 8px solid #fff;
	display: inline-block;
	background: orange;
}

#fourth_section {
	color: #fffff;
	display: inline;
	margin-bottom: 50px;
}

#fifth_section ul {
	max-width: 631.5px;
	border-bottom: 8px solid #fff;
	border-top: 8px solid #fff;
	float: left;
}

#first_section {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 200;
}

footer {
	background: black;
	height: 200px;
	color:#C3996b;
	text-align: center;
}

form {
	background: black;
	color: #C3996b;
	max-width: 450px;
	text-align: left;
	padding: 40px;
	margin: 10px;
}

h1 {
	font-size: 7em;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
	margin-top: 0 auto;
	padding-top: 60px;
	letter-spacing: .07em;
	font-weight: normal;
	color: #000;
}

h2 {
	font-family: BrandonGrotesque-black, "futura-pt-1","futura-pt-2", Verdana, sans-serif;
	color: #000;
	font-size: 36px;
    letter-spacing: 6px;
    text-transform: uppercase;
    display: block;
    margin: 30px;
    padding: 10px;
}

h3 {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	margin: 5px;
	margin-bottom: 0;
	color: #C3996b;
	padding-left: 80px;
	max-width: 631.5px;
	display: inline;
}

header { 
	background: url("../images/hero_image_building.png");
	height: 400px;
	color: #fff;
	text-align: center;
}

iframe{
	margin: 4em 4em 4em 4em;
	border: 8px solid #fff;
}

span {
	display: inline-flex;
}

nav a {
	margin:1px;
	text-decoration:none;
	display: inline-block;
	padding: 4px;
	text-align: center;
	color: #000;
}

nav li {
	display: inline;
	font-weight: 900;
	font-size: .85em;
	letter-spacing: 1px;
	padding: 0 20px;
}

li img {
	position: relative;
    top: 3px;
    margin-left: 0;
}

nav ul {
	background: #fff;
    width: 860px;
    height: 40px;
   	margin: 0 auto;
}


p {
	margin: 2em;
}

p#slogan {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	margin-top: 15px;
	color: #C3996b;
}

#second_section ul {
	border-bottom: 8px solid #fff;
	border-top: 8px solid #fff;
	max-width: 450px;

}

#seventh_section p {
	border-bottom: 8px solid #fff;
	border-top: 8px solid #fff;
}

#sixth_section h2 {
	margin-top: 600px;
	margin-bottom: 50px;
}

#third_section ul {
	border-bottom: 8px solid #fff;
	border-top: 8px solid #fff;
	max-width: 450px;
}

ul {
	list-style-type: none;
	margin: 2em;
	line-height: 1.5em;
	font-weight: 700;
}

