* { margin:0; padding:0; box-sizing:border-box; }

address {
	border:10px black solid;
	max-width: 631.5px;
	text-align: left;
	padding: 5px;
	margin: 10px;
}

#about_section {
	color: #fffff;
	display: inline;
}

#fifth_section ul {
	max-width: 631.5px;
}

body {
	color: #8fb300;
	font-size: 18px;
	font-family: 'Josefin Slab', serif;
	background-color: black;
	border:10px #334444 solid;
}

#first_section {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 200;
}

#sixth_section {
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {
	font-size: 6em;
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	margin-top: 50px;
	padding-top: 60px;
	letter-spacing: .07em;
	font-weight: 575S;
	color:  #334444;
}

h2 {
	font-size: 3em;
	font-family: 'Arapey', serif;
    letter-spacing: .3em;
    margin: 1.5em;
    margin-bottom: 10px;
	line-height: 1.4em;
	font-weight: 700;
	color: #ccff00;
}

h3 {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	margin: 5px;
	margin-bottom: 0;
	color: #d3ffce;
	padding-left: 80px;
	max-width: 631.5px;
	display: inline;
}

header { 
	background: black;
	background-size: cover;
	width: 1263px;
	height: 650px;
	color: #fff;
	text-align: center;
	position: relative;
}

iframe{
	border:10px #334444 solid;
	margin: 4em 4em 4em 4em;
}

img {
  	float: right;
}

nav a {
	margin:1em;
	text-decoration:none;
	color: #334444;
	display: inline-block;
	padding: 4px;
	text-align: center;
}

nav li {
	display: inline;
	font-weight: 900;
	font-size: .85em;
	color: #444422;
	letter-spacing: 1px;
}

p {
	margin: 2em;
}

p#slogan {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	margin-top: 15px;
	color: #d3ffce;
}

ul {
	list-style-type: none;
	margin: 2em;
	line-height: 1.5em;
	font-weight: 700;
}

