* { margin:0; padding:0; box-sizing:border-box; }

#about_section, #blog_section, #contact_section, 
#image_section, #map_section, #portfolio_section {
	margin-top: 100px;
	margin-bottom: 100px;
	height: 500px;
	
}

#about_section {
	color: black;
	display:inline-block;
	margin-bottom: 50px;
	text-align: left;
	position: relative;
}

#about_section img {
	display: block;
	float: right;
	border: 8px solid #C3996b;
}

#about_section ul {
	max-width: 530px;
	float: left;
}


address a {
	color: #C3996b;
}

address {	
	width: 530px;
	text-align: left;
	padding: 40px;
	margin: 10px;
	background: black;
	float: left;
	font-weight: 700;
	font-shadow: 1px;
	border: 8px solid #C3996b;
}
#blog_section a {
	color: white;
}

body {
	color: #000;
	font-size: 18px;
	font-family: font-family: 'Slabo 27px', serif;
	background-color: #C9CEC9;
	width: 900px
	margin-left: 151px;
	font-weight: 100;
}

#contact_section {
	background: black;
	background-size: cover;
}

#contact_section h2 {
	margin-bottom: 50px;
    display: block;
    text-align: center;   
}

footer {
	background: black;
	height: 200px;
	color:#C3996b;
	text-align: center;
	
}

footer p {
	padding-top: 50px;
}

form {
	background: black;
	color: #C3996b;
	width:530px;
	text-align: left;
	padding: 40px;
	margin: 10px;
	float: right;
	display: inline;
	font-weight: 500;
	font-shadow: 1px;
	border: 8px solid #C3996b;
}

h1 {
	font-size: 7em;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
	text-transform: uppercase;
	margin-top: 0 auto;
	padding-top: 60px;
	letter-spacing: .07em;
	font-weight: normal;
	color: #000;
}

h2 {
	font-family: BrandonGrotesque-black, "futura-pt-1","futura-pt-2", Verdana, sans-serif;
	color: white;
	font-size: 36px;
    letter-spacing: 6px;
    text-transform: uppercase;
    display: block;
    margin: 30px;
    padding: 10px;
}

h3 {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	margin: 5px;
	color: #C3996b;
	padding-left: 30px;
	text-shadow: 1px;

}

h4 {
	margin: 5px;
	padding: 10px;
}

header { 
	background: url("../images/hero_image_beach.png");
	color: #fff;
	text-align: center;
	background-size: cover;
	width: 1263px;
	height: 500px;
	position: relative;
	
}

iframe{
	margin: 4em 4em 4em 4em;
	border: 8px solid #C3996b;
}

li img {
	position: relative;
    top: 3px;
    margin-left: 0;
}

main {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 200;
}

nav a {
	margin:1px;
	text-decoration:none;
	display: inline-block;
	padding: 4px;
	text-align: center;
	color: #000;
}

nav li {
	display: inline;
	font-weight: 900;
	font-size: .85em;
	letter-spacing: 1px;
	padding: 0 20px;
}

nav ul {
	background: #fff;
    width: 860px;
    height: 40px;
   	margin: 0 auto;
   	
 }

p {
	margin: 2em;
}

p#slogan {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	margin-top: 15px;
	color: #C3996b;
	text-shadow: 1px;
}

#portfolio_section, #blog_section {
	display: block;
}

#portfolio_section p, #blog_section p {
	font-style: italic;
	font-size: 1.5em;
	text-transform: lowercase;
	font-family: 'Arapey', serif;
	color: #C3996b;
	text-shadow: 1px;
}

#skills_section, #tech_section {
	max-width: 450px;
	margin: 50px;
	text-align: left;
	color: black;
}

#skills_section {
	float: left;	
}

span {
	display: inline-flex;
}

#tech_section {
	float: right;	
}

ul {
	list-style-image: url("../images/bullet_asset.png");
	margin: 2em;
	line-height: 1.5em;
	font-weight: 700;
}

