

header { 
	background: url ("hero_image_workspace.jpg") black;
    text-align: center;
    color: black;
}

nav {
	text-decoration: none;
	color: black
	background: url ("hero_image_workspace.jpg") black;
}

